<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imessage Analysis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44CDAF372CD7DA63002E56D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CDAF482CD7DA64002E56D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CDAF522CD7DA65002E56D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
